#paragrafo1 {
    color: deeppink;
    /* tipo da borda(dupla, unica) */
    border-style: solid;
    background-color: rgb(167, 250, 167);
    /* cor da borda */
    border-color: blue;
    /* grossura da borda */
    border-width: 5px;
    /* arredondamento dos cantos da borda */
    border-radius: 10px;
    /* borda em cantos especificos */
    border-bottom-left-radius: 20%;
    /* sombra da borda */
    box-shadow: 10px 10px 100px orange
    /* margem dada na direita | deslocamento para baixo | tamanho da sombra*/
}             
#paragrafo2 {
    /* content-box define como borda maxima  */
    /* border-box define como borda maxima o padding */
    box-sizing: border-box;
    color: deeppink;
    text-align: justify;
    font-weight: bold;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
}